@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
body {

  direction: rtl;
  color: white;
}

@font-face{
font-family:sogand;
src:url('../public/SOGAND.ttf')
}

@font-face{
font-family:yekan;
src:url('../public/BYekanv2.0/BYekan.ttf')
}
.imgTop {
  width: 50%;
}
.title {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.style_slider {
  @apply max-h-96 min-w-full gap-1 flex justify-center bg-red-500
 items-center p-10  overflow-hidden rounded-lg relative;
}
.style_slider_handelRight {
  @apply text-zinc-400 
 text-7xl font-bold cursor-pointer opacity-75 
 absolute top-[50%] right-0 transform -translate-y-[50%];
}
.style_slider_handelLeft {
  @apply text-zinc-500
text-7xl font-bold cursor-pointer 
 opacity-75 absolute top-[50%] left-0 transform -translate-y-[50%];
}

.style_conter_slider{
@apply w-5 h-5  rounded-full flex items-center justify-center
}